@charset "utf-8";
$sunny: #980f0f;
$moonligh-shadow: #EEEEEE;
$graphite: #313030;


body {
  margin: 0;
  background: $moonligh-shadow;
  color: $graphite;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 18px;
  .title, .subtitle {
    color: $sunny;
    font-family: 'Montserrat', sans-serif;
  }

  .hero.is-info {
    background: $moonligh-shadow;
    .title, .subtitle {
      font-size: 90px;
      text-align: center;
      color: $sunny;
    }
    .subtitle {
      font-size: 70px;
    }
  }

  .container {
    max-width: 800px;
    figure {
      margin-bottom: 15px;
      border: 8px solid $graphite;
    }
    .title {
      padding-top: 20px;
    }
    .icons {
      padding: 2px;
      display: flex;
      margin-top: 10px;
      font-size: 11px;
      img {
        padding: 15px;
      }
      .icon {
        width: 60px;
      }
    }
    .column {
      text-align: center;
    }
  }

  .container.name {
    max-width: 960px;
  }


  .container.work {
    margin-top: 24px;
  }




  .button {
    .fa-envelope {
      color: $sunny;
    }
    color: $sunny;
    background-color: $moonligh-shadow;
    border-color: $sunny;
    padding-left: 25px;
    padding-right: 25px;
    &:hover {
      color: $moonligh-shadow;
      background-color: $sunny;
      .fa-envelope {
        color: $moonligh-shadow;
      }
    }
  }

  .navbar {
    .navbar-burger {
      color: $moonligh-shadow;
    }

    .navbar-menu.is-active .navbar-item{
      background-color: $sunny;
      color: $moonligh-shadow;
      &:hover{
        color: $sunny;
        background-color: $moonligh-shadow;
      }
    }

    .bego{
      font-family: 'Montserrat', sans-serif;
    }
    background-color: $sunny;
    .navbar-item, .navbar-burger.is-active {
      color: $moonligh-shadow;
    }

    .navbar-menu {
      justify-content: flex-end;
    }

    .navbar-menu .navbar-item {
      &:hover{
        color: $sunny;
      }
    }
  }
}

@media only screen and (max-width: 1087px) {
  .navbar-menu {
    background-color: $sunny;
  }
}

@media only screen and (max-width: 9000px) {
  .icons {
    overflow-x: scroll;
  }
}

@media only screen and (max-width: 600px) {
  body {
    .hero.is-info {
      .title {
        font-size: 70px;
      }
      .subtitle {
        font-size: 50px;
      }
    }
    .icons {
      overflow-x: scroll;
    }
  }
}

@media only screen and (max-width: 500px) {
  body {
    .hero.is-info {
      .title {
        font-size: 60px;
      }
      .subtitle {
        font-size: 40px;
      }
    }
    .icons {
      overflow-x: scroll;
    }
  }
}
